.MuiButton-root {
    margin-left: 16px !important;
    margin-right: 16px !important;
    color: rgb(25,59,77) !important;
}

.MuiStepper-root {
    margin-bottom: 24px;
}

.MuiStepLabel-labelContainer {
    /* width: 50% !important; */
}

.MuiStepLabel-label {
    font-size: 2rem !important;
    font-weight: 600 !important;
}

.MuiStepLabel-iconContainer {
    color: rgb(226,252,164) !important;
}

.Mui-error {
    color: #d32f2f !important;
}

input:hover, input:focus-visible {
    outline-color: rgb(226,252,164) !important;
}

