.MuiButton-root {
    margin-left: 8px !important;
    margin-right: 8px !important;
    color: rgb(25,59,77) !important;
}

.MuiStepper-root {
    margin-bottom: 24px;
}

.MuiOutlinedInput-root {
    border-radius: 20px !important;
}

.MuiButton-outlined {
    border-radius: 20px !important;
    background-color: rgb(25,59,77) !important;
    color: rgb(226,252,164) !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.MuiFormControl-root  {
    width: 100% !important;
}

.MuiStepLabel-label {
    font-size: 2rem !important;
    font-weight: 600 !important;
}

.MuiStepLabel-iconContainer {
    color: rgb(226,252,164) !important;
}

.Mui-error {
    color: #d32f2f !important;
}

input:hover, input:focus-visible {
    outline-color: rgb(226,252,164) !important;
}

